name: Deploy to Aliyun OSS

on:
  push:
    branches: ['main']
  workflow_dispatch:

permissions:
  contents: read

jobs:
  Deploy:
    name: Deploy to Aliyun OSS
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Bun Environment
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install OSS Utils
        run: |
          cd ../
          curl -o ossutil.zip https://gosspublic.alicdn.com/ossutil/v2-beta/2.0.6-beta.01091200/ossutil-2.0.6-beta.01091200-linux-amd64.zip
          unzip ossutil.zip
          chmod +x ./ossutil-2.0.6-beta.01091200-linux-amd64/ossutil
          sudo mv ./ossutil-2.0.6-beta.01091200-linux-amd64/ossutil /usr/local/bin/

      - name: Install Dependencies
        run: bun install --frozen-lockfile

      - name: Clone next-flow-interface
        run: |
          cd ../
          git clone https://github.com/n-flow/next-flow-interface.git

      - name: Run Unit Tests
        run: bun run test

      - name: Build Project
        run: bun run build

      - name: Extract Plugin ID and Version
        run: |
          PLUGIN_ID=$(jq -r '.plugin.id' package.json)
          VERSION=$(jq -r '.version' package.json)
          echo "PLUGIN_ID=$PLUGIN_ID" >> $GITHUB_ENV
          echo "::notice::Plugin ID is $PLUGIN_ID"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "::notice::Version is $VERSION"

      - name: Upload to Aliyun OSS
        env:
          OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID }}
          OSS_ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
          OSS_ENDPOINT: ${{ secrets.OSS_ENDPOINT }}
          OSS_REGION: ${{ secrets.OSS_REGION }}
          OSS_BUCKET: ${{ secrets.OSS_BUCKET }}
        run: |
          echo "::notice::Uploading to oss://${OSS_BUCKET}/public/plugins/${PLUGIN_ID}/v${VERSION}/"
          ossutil cp -r ./dist/ oss://${OSS_BUCKET}/public/plugins/${PLUGIN_ID}/v${VERSION}/ --force
          echo ""
          echo "::notice::Uploading to oss://${OSS_BUCKET}/public/plugins/${PLUGIN_ID}/latest/"
          ossutil cp -r ./dist/ oss://${OSS_BUCKET}/public/plugins/${PLUGIN_ID}/latest/ --force
